.login {
  max-width: 400px;
  margin: 35%;
  margin-top: 15%;
  padding: 20px;
  border: 0.5px solid #00337b;
  border-radius: 5px;
  /* background-color: rgba(198, 109, 109, 0); */
  box-shadow: 0 0 10px #7bbdfffb, 0 0 20px #264bb8, 0 0 30px #4589ff;
}

.logTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgba(
    41,
    52,
    103,
    0
  ); /* Set the alpha value to 0 for full transparency */
  color: #fff;
  text-shadow: 0 0 10px #00aeff, 0 0 20px #0055ff, 0 0 30px #0088ff;
}

.username,
.password {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(38, 76, 140);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(71, 138, 255);
  color: rgb(38, 76, 140);
}

.createAcct {
  margin-top: 2em;
}
