/* Update the question card style to have a background color and box-shadow */
.question-card {
  width: 10em;
  height: 8em;
  background-color: rgba(0, 124, 255, 0.8); /* Change the alpha value to adjust transparency */
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s;
  perspective: 1000px; /* Add perspective for 3D effect */
  min-width: 115px;
  min-height: 115px;
}

.question-card .front,
.question-card .back {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 34px;
  border-radius: 10px;
  backface-visibility: hidden;
}

/* Add a neon-style effect to the front side */
.question-card .front {
  /* Add more text-shadow layers to increase the glow effect */
  background-color: rgba(41, 52, 103, 0); /* Set the alpha value to 0 for full transparency */
  color: #fff;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
}

/* Add a neon-style effect to the back side */
.question-card .back {
  background-color: #00ffcc;
  color: #000;
  text-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff;
  /* Add more text-shadow layers to increase the glow effect */
}

.question-card.flipped {
  transform: rotateY(180deg);
}
